html, body {
  margin:0;
  padding:0;
  background:#E0E7FF;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;

  /* Pour éviter le momentum scroll sous iOS */
  overflow:hidden;
  height:100%;
}

* {
  box-sizing: border-box;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

:root {
  --app-nav-height: calc(80px + env(safe-area-inset-bottom, 0px));
}

#app {
  width:100%;
  height:100%;
  position:relative;
}

#app-scrollable-area {
  width:100%;
  height:100%;
  overflow:auto;
  padding-bottom:var(--app-nav-height);
}

#app-main {
  padding:12px;
}

#app-main,
#app-main a {
  color:#312E81;
}

#app-nav {
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  height:var(--app-nav-height);
  padding-bottom:env(safe-area-inset-bottom, 0px);

  background:rgba(238,242,255,.95);
  backdrop-filter:blur(10px);
}

#app-nav ul {
  margin:0;
  padding:0;
  list-style:none;
  height:100%;

  display:flex;
  flex-direction: row;
  align-items: stretch;
}

#app-nav ul li {
  flex:1;
  display:flex;
  align-items: center;
}

#app-nav ul li a {
  text-decoration:none;
  color:inherit;
  width:100%;
  height:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transition:all 120ms ease;
}

#app-nav ul li a:active {
  background:#E0E7FF;
  transition:all 50ms ease;
}

span.app-nav-tab-icon {
  color:#6366F1;
  font-size:32px;
  margin-bottom:4px;
}

.app-nav-tab-label {
  color:#3D3DDC;
  font-size:14px;
}
